[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pydantic = "*"
pyjwt = "*"
bcrypt = "*"
stripe = "*"
python-dotenv = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
